<!DOCTYPE html>
<html>
  <head>
    <title>DPG</title>
    <link rel='stylesheet' href='/stylesheets/addMember.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="MainDiv">
      <div id="HeaderDiv">
        <div id="img1">
          <a href="/adminhome">
            <img src="/images/create_form.svg"/>
            <p>Create Form</p>
          </a>
        </div>
        <div id="img2">
          <a href="/adminhome/createMember">
            <img src="/images/create_member.svg"/>
            <p>Create Member</p>
          </a>
        </div>
          <form method="GET" action="/adminlogout">
            <button type="submit" id="Btn-Logout">Logout</button>
          </form>
      </div>
      <div id="CenterDiv">
        <div id="FormDiv">
          <form action="/adminhome/updatemember" method="post" class="boxdiv">
            <h1>Update Member</h1>
            <div class="LabelInput">
              <label for="username">Enter ID</label><br>
              <input type="text" name="username" placeholder="Enter ID" autocomplete="off" value="<%=obj.username%>" required><br>
            </div>
            <div class="LabelInput">
              <label for="password">Password</label><br>
              <input type="password" name="password" placeholder="Password" autocomplete="off" value="<%=obj.password%>" required><br>
            </div>
            <div class="LabelInput">
              <label for="zone">Enter Zone</label><br>
              <input type="text" name="zone" placeholder="Zone" autocomplete="off" value="<%=obj.zone%>" disabled required><br>
            </div>
            <input type="hidden" name="zonehidden" placeholder="Zone" autocomplete="off" value="<%=obj.zone%>" required><br>
            <button type="submit" id="Btn-Login">Update</button>
          </form>
        </div>
      </div>
      <div>
      </div>
    </div>
  </body>
</html>
